<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Farm</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>

	<div class="container">

		<div class="navbar">

			<div class="left-side">

				<div class="navbar-link">
					<a href="farmlist">Farms</a>
				</div>

				<div class="navbar-link">
					<a href="index.html">Store new farms</a>
				</div>
			</div>

			<div class="right-side">

				<div>FARMDATA APPLICATION</div>

			</div>
		</div>
	</div>

	<h1>Error retrieving data</h1>

	<div class="average-form">
		<form class="average-container">

			<h3>No results were found. This may be due to the following
				reasons:</h3>

			<ul>
				<li>The year you entered is not in the database.</li>
				<li>The month you selected is not in the database.</li>
				<li>The farm name you entered is not in the database.</li>
			</ul>


			<input type="button" value="Back" id="btnClear"
				onclick="clearSearch()" />

		</form>


		<script type="text/javascript">
			function clearSearch() {
				window.location = "[[@{/farmlist}]]";
			}
		</script>
	</div>
</body>
</html>