<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <div class="container">

<div class="navbar">

    <div class="left-side"> 
  <div class="navbar-link">
        <a href="home.html">Home</a>
    </div>
        <div class="navbar-link">
        <a href="index.html">Add CSV</a> 
    </div>

    <div class="navbar-link">
 <a href="farmlist">Farms</a> <!-- /static/templates/farmlist.html -->
</div>
</div>

 <div class="right-side"> 

 <div>FARMDATA</div>

</div> 
</div>
</div>
	<h1>Home</h1>
	
	<p> Welcome to use FarmDataApp! This is application for displaying data from different farms.  </p>

</body>
</html>