<!-- <!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="col-sm-2 col-xs-6 ">
				<a class="navbar-brand">Birdbook</a>
			</div>
			<div class="navbar-collapse" id="navbarNavDropdown">
			
				<ul class="navbar-nav">
				
					<li class="nav-item">
						<a class="nav-link" href="/" th:text="#{main}">Main <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/" th:text="#{storage}" >Farm information <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item" sec:authorize="hasAnyAuthority('USER')">
						<a class="nav-link" href="/users/bag" th:text="#{bag}"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users" th:text="#{users}">Users</a>
					</li>
					 <li class="nav-item">
						<a class="nav-link" href="/companies" th:text="#{companies}">Companies</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('USER')">
						<a class="nav-link" href="/categories" th:text="#{categories}">Categories</a>
					</li> 
				</ul>
			</div>
			
			<div sec:authorize="isAnonymous">
				<a class="btn btn-light" href="/login" th:text="#{login}">Login</a>
			</div>
			<div class="dropdown" sec:authorize="hasAnyAuthority('USER')">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					<i class="fas fa-user"></i>
					[[${#httpServletRequest.remoteUser}]]
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="/users/profile" th:text="#{profile}">Profile</a>
					<div class="dropdown-divider"></div>
					<a class="btn dropdown-item" href="/logout" th:text="#{logout}">Logout</a>
					 <form class="form-inline" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" class="btn btn-sm"/>
					</form>	
				</div>
			</div>
			
			<span th:text="#{lang.change}" style="margin-right: 10px"></span>
				<select class="form-control" style="width: 100px" id="locales">
					<option value=""></option>
					<option value="en" th:text="#{lang.eng}"></option>
					<option value="fr" th:text="#{lang.fr}"></option>
					<option value="fi" th:text="#{lang.fi}"></option>
				</select>
			
		</nav>
	</div>
	
</body>
</html> -->